<form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
    <h2 class="title is-6 has-text-left">New Task</h2>

    <div class="field is-grouped">
      <p class="control is-expanded">
        <input
          [(ngModel)]="formTitle"
          required
          name="text"
          class="input is-focused"
          type="text"
          placeholder="for example: create a new angular app"
        />
      </p>
      <p class="control">
        <button type="submit" (click)="newTodo()" class="button add-button">
          <i class="material-icons">add_task</i>
          Add
        </button>
      </p>
    </div>
</form>