<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Todo:</h1>
  </section>
  
  <div class="container">
    <div class="add-todo-box">
      <app-todo-form
      (toDoItem)="updateListTodosEmitter($event)"
      ></app-todo-form>
      <section class="section">
        <div class="filter-date-item">
          <input
              [(ngModel)]="filterDate"
              required
              name="filterDate"
              class="input is-focused"
              type="date"
            />
            <button type="button"  (click)="filterByDate()" class="button">
              <i class="material-icons">search</i>
              
            </button>
        </div>
      </section>
    </div>
  </div>

    

  
  <section class="section">
    <div class="container">
      <app-todo-item 
      *ngFor="let todoItem of todos"
      [todoItem]="todoItem"
      (toDoItem)="updateListTodosEmitter($event)"
      (editToDoItem)="editTodo($event)"
      >
      </app-todo-item>
    </div>
  </section>