<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Todo:</h1>
  </section>
  
  <div class="container">
    <div class="add-todo-box">
      <app-todo-form
      (toDoItem)="addToDoItem($event)"
      ></app-todo-form>
    </div>
  </div>

  <section class="section">
    <div class="container">
      
    </div>
  </section>
  
  <section class="section">
    <div class="container">
      <app-todo-item 
      *ngFor="let todoItem of todos"
      [todoItem]="todoItem"
      >
      </app-todo-item>
    </div>
  </section>