.heading-section {
    
    background:(rgb(240, 197, 248));
    padding: 100px;

    h1.title{
        color: white;
        font-weight: bold;
        text-shadow: 5px 5px 5px rgba(purple, 0.2);
    }
}
.container{
    max-width: 500px;
}

.add-todo-box{
    max-height: 170px;
    padding: 25px;
    background: white;
    margin-top: -50px;
    box-shadow: 0 5px 10px rgba(black, 0.2);

}

.filter-date-item{
    position: absolute;
    
    max-width: 115px;
    margin-top: -150px;
    margin-left: 1025px;
    
    

}

.filter-date-item .button{
    position: absolute;
    margin-left: 12px;
    padding: 7px 7px;

    background: linear-gradient(to right,rgb(250, 142, 232), rgb(245, 187, 240));
    color:white;
    opacity: 0.8;
    
    
    
    
}

